/* To Do List */
.todolist {
    width: 400px;
    padding: 1em;
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
}

/* Individual Todo */
.todo {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
}

/* Priority icon dot */
.icon {
    float: left;
    margin: 0 10px;
}

/* Info of the todo, title and date */
.todo-info {
    float: left;
    margin: 0.5em;
}

/* Title */
.todo-title {
    font-size: 2em;
}

/* Date */
.todo-date {
    font-size: 0.8em;
}

/* Checkboxes! */
input[type=checkbox] {
    float: right;
    margin: 2.5em 2.5em 0 0;
}
